@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}

h1 {
    color: rgb(236, 234, 234);
    font-size: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.logo{
    font-size: 25px;
    font-family: "Ubuntu";
    margin-right: 50px;
    margin-left: 7%
}
header{
    background-color: black;
    padding: 25px 0 25px 0;
    border-bottom: 3px solid white;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.menu{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-family: "IBM Plex Sans";
}
.menu input{
    margin-left: 50px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 8px;
    width: 200px;
}
.hamburger{
    display:none;
    cursor: pointer;
    margin: 20px;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}
.panier {
    margin-left: 27%;
    margin-right: 50px;
    font-size: 25px;
    color: white;
}
.menu h1{
    font-size: 20px;
    color: white;
    margin-right: 7%;
    font-family: "IBM Plex Sans";
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.cart-item img {
    max-width: 100px;
    margin-right: 10px;
}

.item-details {
    flex: 1;
}

.cart-item h3 {
    font-size: 20px;
}

.cart-item p {
    font-size: 16px;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.cart-summary {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.cart-summary h2 {
    font-size: 24px;
}

.cart-summary p {
    font-size: 16px;
}

.checkout-button {
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: gray;
}

.continue {
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.continue:hover {
    background-color: gray;
}

.container{
	width: 100%;
}
.row{
	display: flex;
    flex: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 50px 0;
}
.footer-col{
    margin-left: 7%;
}
.footer-col h1{
    font-size: 25px;
    font-family: "Ubuntu";
    color: white;
}
.footer-col h2{
    padding-top: 10px;
    font-size: 10px;
    font-family: "Ubuntu";
    color: white;
}
.formulaire{
    display: flex;
}
.formulaire .bloc-mail{
    margin-top: 10px;
    width: 300px;
    height: 35px;
}
.formulaire .connect{
    margin-top: 10px;
    width: 70px;
    height: 35px;
    border:none;
    padding: 0 5px 0 5px; 
    font-size: 12px; 
    text-align: center; 
}
.colonnes{
    display: flex;
    margin-left: 7%;
}
.footer-col h4{
	font-size: 17px;
    font-family: "Ubuntu";
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-col ul li a{
	font-size: 16px;
    font-family: "Gabarito";
	color: #ffffff;
	text-decoration: none;
	color: #bbbbbb;
}

@media (max-width: 768px){
    .hamburger{
        display:block
    }
    .menu input, .panier, .menu h1{
        display: none;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width:100%;
        text-align: center;
        transition: 0.3s;
        padding: 25px;
    }
    .menu ul li a{
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0
    }
}






@media (max-width: 768px) {
    .checklist{
        float: none;
        text-align: center;
    }
    .CD, .artistes, .certification{
        width: auto;
        margin-right: 7%;
    }
    .certification{
        margin-bottom: 25px;
    }
}




@media(max-width: 768px){
    .row{
        display: block;
    }
    .footer-col{
        text-align: center;
        margin-bottom: 20px;
    }
    .formulaire{
        justify-content: center;
    }
    .colonnes{
        justify-content: center;
    }
}
